@import 'variables.css';

.container {
    margin: 20px 0;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.custom-select {
    display: flex;
    flex-direction: column;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px;
    font-size: 22px;
    font-weight: 400;
    color: #3b3b3b;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: unset;
    background-color: rgb(231, 231, 231);
}
#selectedValue-kredit, #selectedValue-stednja, #selectedValue-period-orocenja, #selectedValue-valuta-stednje {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 38px;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid rgb(231, 231, 231);
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}

.custom-option.selected {
    color: #ffffff;
    background-color: rgb(208, 38, 48);
}

.arrow {
    position: absolute;
    right: 20px;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
}

.arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}

.arrow::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(-45deg);
}
