input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    transform: unset;
}
input[type="range"]::-moz-range-thumb {
    transform: translateY(8px) !important;
}
