@import "variables.css";

html{
    font-family: Kanit, sans-serif;
}
#kalkulator{
    width: 900px;
    border: 1px solid black;
    padding: 30px;
}
.select{
    appearance: none;
    width: 100%;
    height: 50px;
    border: unset;
    background-color: rgb(231, 231, 231);
}
.hide{
    display: none;
}
.show{
    display: block;
}
.main-button, #mainButton{
    appearance: none;
    border:unset;
    text-transform: capitalize;
    font-weight: bold;
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgb(208, 38, 48);
    font-size: 22px;
    margin-top: 20px;
}
.main-button.secondary{
   border: 2px solid rgb(168, 168, 168);
   color: rgb(168, 168, 168);
   background-color: white;
   margin-right: 20px;
}

.top-bar-button {
    appearance: none;
    border: unset;
    font-weight: normal;
    font-family: Kanit, sans-serif;
    color: rgb(168, 168, 168);
    background-color: white;
    font-size: 22px;
    cursor: pointer;
}

.top-bar-button:focus {
    outline: 0;
}

.top-bar-button.active {
    font-weight: bold;
    color: #424242;
}

.vertical-bar {
    background-color: var(--red);
    width: 3px;
    height: 35px;
}

.row{
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    height: 60px;
}
.row.smaller{
    height: 40px;
}

.row.transparent {
    background-color: transparent;
    box-shadow: none;
}

.row.no-p-left {
    padding-left: 0;
}

.row.p-right {
    padding-right: 30px;
}

.no-edit{
    background-color: rgb(231, 231, 231);;
}
.label{
    font-weight: 400;
    font-size: 22px;
}
.base-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    border: unset;
    height: 38px;
    background-color: rgb(231, 231, 231);
    outline: grey;
    padding: 0 10px;
    margin-top: 8px;
    width: 70%;
}
.relative{
    position: relative;
}
.input-label{
    color: gray;
    font-size: 11px;
    position: absolute;
    top: -6px;
}
.navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}
.p-info{
    color: gray;
}
.button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 40px;

}
.nav-text{
    margin-left: 10px;
    color: #A5A5A5;
    font-size: 18px;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.m-r-20{
    margin-right: 20px;
}
.w-75{
    width: 75%;
}

.w-70 {
    width: 70%;
}

.pl-10 {
    padding-left: 10px;
}
