:root {
    --light-gray: #e3e4e8;
    --gray: #71738b;
    --slider-handle-size: 14px;
    --slider-handle-border-radius: 2px;
    --slider-handle-margin-top: -4px;
    --slider-track-height: 6px;
    --slider-track-border-radius: 4px;
    --red: #dc2328;
}
